<div>
  <div data-hook='stage'></div>
  <div class='controls'>
    <div class='row'>
      <span data-hook='steps'>
        Steps: <span data-hook='max'>0</span>, Current: <span data-hook='value'>0</span>
      </span>

      <button data-hook='reload' class='pure-button'>&#8635;</button>
      &nbsp;
      <button data-hook='previous' disabled></button>
      &nbsp;
      <button data-hook='next' disabled></button>
    </div>

    <div class='row'>
      <input data-hook='slider' type='range' min='0' max='0' step='1' value='0' disabled/> 
    </div>
  </div>
</div>
