<div>
  <div data-hook="stage"></div>
  <div class="controls">
    <div class="row">
      <span data-hook="steps"></span> 
      <button id="bm-start" class="pure-button">Go</button>
    </div>
  </div>
</div>
