<div>
  <p>Does not make a right turn?</p>
  <table class="states-table vmarg pure-table pure-table-striped">
    <thead>
      <tr>
        <th>Points</th>
        <th>Value</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
