<table class='vmarg'>
  <tbody>
    <tr>
      <td class='nopad'>D</td>
      <td>=</td>
      <td class='nopad'>
        <table class='matrix'>
          <tbody>
            <tr>
              <td data-hook='p.x'></td>
              <td data-hook='p.y'></td>
            </tr>
            <tr>
              <td data-hook='q.x'></td>
              <td data-hook='q.y'></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class='nopad'></td>
      <td>=</td>
      <td>
        (
        <span data-hook='p.x'></span> ⋅
        <span data-hook='q.y'></span> -
        <span data-hook='p.y'></span> ⋅
        <span data-hook='q.x'></span>
        )
      </td>
    </tr>
    <tr>
      <td class='nopad'></td>
      <td>=</td>
      <td data-hook='result'></td>
    </tr>
  </tbody>
</table>
